
altair                    
asttokens                 
attrs                     
blinker                   
cachetools                
certifi                   
charset-normalizer        
chart-studio              
click                     
colorama                 
colorlover                
comm                      
contourpy                 
cufflinks                 
cycler                    
debugpy                   
decorator                 
et-xmlfile                
executing                 
fastjsonschema            
fonttools                 
fsspec                    
gitdb                     
GitPython                 
idna                      
ipykernel                 
ipython                   
ipywidgets                
jedi                      
Jinja2                    
jsonschema                
jsonschema-specifications 
jupyter_client            
jupyter_core              
jupyterlab_widgets        
kiwisolver                
markdown-it-py            
MarkupSafe                
matplotlib                
matplotlib-inline         
mdurl                     
nbformat                  
nest-asyncio              
numpy                     
openpyxl                  
packaging                 
pandas                    
parso                     
pillow                    
pip                       
platformdirs              
plotly                    
prompt-toolkit            
protobuf                  
psutil                    
pure-eval                 
pyarrow                   
pydeck                    
Pygments                  
pyparsing                 
python-dateutil           
pytz                                        
pyzmq                     
referencing               
requests                  
retrying                  
rich                      
rpds-py                   
scipy                     
seaborn                   
setuptools                
six                       
smmap                     
stack-data                
streamlit                 
tenacity                  
toml                      
toolz                     
tornado                   
traitlets                 
typing_extensions         
tzdata                    
urllib3                   
watchdog                  
wcwidth                   
widgetsnbextension        
